# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
.terraformrc
terraform.rc
.terraform.lock.hcl

# AWS
.aws/
*.pem

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
logs/